In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.backends.backend_pdf import PdfPages
import seaborn as sns
import time
import imp
import os
import os, os.path
import datetime as dt
import dateutil.parser as dp
import dill

%matplotlib inline

In [2]:
# Create lists of data files (3 groups: regular attributes, GEO, and Seller composition)
pools_attributes_files = list()
for root, dirs, files in os.walk("C:/Users/YuriTurygin/Desktop/NN-PPM/data/pools attributes"):
    for name in files:
        pools_attributes_files.append(os.path.join(root, name))        
        
pools_geo_pct_files = list()
for root, dirs, files in os.walk("C:/Users/YuriTurygin/Desktop/NN-PPM/data/geo pct"):
    for name in files:
        pools_geo_pct_files.append(os.path.join(root, name))  
        
pools_seller_pct_files = list()
for root, dirs, files in os.walk("C:/Users/YuriTurygin/Desktop/NN-PPM/data/seller pct"):
    for name in files:
        pools_seller_pct_files.append(os.path.join(root, name)) 
        
print("# of attr files: ",len(pools_attributes_files))
print("# of geo pct files: ",len(pools_geo_pct_files))
print("# of seller pct files: ",len(pools_seller_pct_files))

# of attr files:  121
# of geo pct files:  120
# of seller pct files:  122

In [3]:
# Read in all files with regular pool attributes
attr_df = pd.DataFrame()
for file in pools_attributes_files:
    one_month_issue_pools = pd.read_csv(file)
    if len(attr_df)==0:
        attr_df = one_month_issue_pools
    else:
        # df1.columns.difference(df2.columns)
        # df2.columns.difference(df1.columns)
        if all(attr_df.columns == one_month_issue_pools.columns):
            attr_df = pd.concat([attr_df,one_month_issue_pools])
        else:
            print(f'columns missmatch for {file}')

    #print('Done loading ' + file)

In [4]:
attr_df.columns

Index(['poolno', 'asofdate', 'cusip', 'Prefix', 'spread', 'Cpr1', 'Cpr3',
       'Cpr6', 'Cpr12', 'Cpr24', 'CprLife', 'SMM', 'DayCount', 'OBal', 'CBal',
       'pbal', 'paydown', 'Prepay', 'factor', 'OCoupon', 'Coupon', 'OWac',
       'Wac', 'Wam', 'Age', 'aols', 'waols', 'ONLoans', 'cnloans', 'PCNLoans',
       'PPNLoans', 'OSato', 'CSato', 'oltv', 'cltv', '%cltv_80', '%cltv_105',
       '%cltv_125', '%ccltv_80', '%ccltv_105', '%ccltv_125', 'fico',
       '%FedHold', '%CMOHold', 'dti', 'codti', '%CashWindow', '%Majors',
       'ocltv', 'ccltv', 'PurpPct_purchase', 'PurpPct_refi',
       'PctChannel_Broker', 'PctChannel_Corr', 'PctChannel_Retail',
       'OccPct_investor', 'OccPct_owner', 'PropUnitsPct_2-4', 'Label'],
      dtype='object')

In [5]:
len(attr_df)

10143061

In [6]:
#dill.dump_session('notebook_env_just_attributes.db')

In [7]:
# Read in all files with pools GEO info
geo_df = pd.DataFrame()
for file in pools_geo_pct_files:
    one_month_issue_pools = pd.read_csv(file)
    if len(geo_df)==0:
        geo_df = one_month_issue_pools
    else:
        # df1.columns.difference(df2.columns)
        # df2.columns.difference(df1.columns)
        if all(geo_df.columns == one_month_issue_pools.columns):
            geo_df = pd.concat([geo_df,one_month_issue_pools])
        else:
            print(f'columns missmatch for {file}')

    #print('Done loading ' + file)

In [8]:
geo_df.columns

Index(['poolno', 'asofdate', 'cusip', 'StatePct_AK', 'StatePct_AL',
       'StatePct_AR', 'StatePct_AZ', 'StatePct_CA', 'StatePct_CO',
       'StatePct_CT', 'StatePct_DC', 'StatePct_DE', 'StatePct_FL',
       'StatePct_GA', 'StatePct_GU', 'StatePct_HI', 'StatePct_IA',
       'StatePct_ID', 'StatePct_IL', 'StatePct_IN', 'StatePct_KS',
       'StatePct_KY', 'StatePct_LA', 'StatePct_MA', 'StatePct_MD',
       'StatePct_ME', 'StatePct_MI', 'StatePct_MN', 'StatePct_MO',
       'StatePct_MS', 'StatePct_MT', 'StatePct_NC', 'StatePct_ND',
       'StatePct_NE', 'StatePct_NH', 'StatePct_NJ', 'StatePct_NM',
       'StatePct_NV', 'StatePct_NY', 'StatePct_OH', 'StatePct_OK',
       'StatePct_OR', 'StatePct_PA', 'StatePct_PR', 'StatePct_RI',
       'StatePct_SC', 'StatePct_SD', 'StatePct_TN', 'StatePct_TX',
       'StatePct_UT', 'StatePct_VA', 'StatePct_VI', 'StatePct_VT',
       'StatePct_WA', 'StatePct_WI', 'StatePct_WV', 'StatePct_WY', 'Label'],
      dtype='object')

In [9]:
len(geo_df)

9929896

In [10]:
#dill.dump_session('notebook_env_attr_and_geo.db')

In [11]:
# Read in all files with pools Seller info
seller_df = pd.DataFrame()
for file in pools_seller_pct_files:
    one_month_issue_pools = pd.read_csv(file)
    if len(seller_df)==0:
        seller_df = one_month_issue_pools
    else:
        # df1.columns.difference(df2.columns)
        # df2.columns.difference(df1.columns)
        if all(seller_df.columns == one_month_issue_pools.columns):
            seller_df = pd.concat([seller_df,one_month_issue_pools])
        else:
            print(f'columns missmatch for {file}')
    #print('Done loading ' + file)

In [12]:
seller_df.columns

Index(['poolno', 'asofdate', 'SellerPct_AMRHT', 'SellerPct_ALS',
       'SellerPct_CAFULL', 'SellerPct_CNTL', 'SellerPct_CITIZ', 'SellerPct_53',
       'SellerPct_FIR', 'SellerPct_FRDOM', 'SellerPct_GUILD',
       'SellerPct_CHASE', 'SellerPct_LLSL', 'SellerPct_MATRX', 'SellerPct_NCM',
       'SellerPct_NATIONST', 'SellerPct_NRESM', 'SellerPct_PNYMAC',
       'SellerPct_PILOSI', 'SellerPct_QUICK', 'SellerPct_REG',
       'SellerPct_RMSC', 'SellerPct_UNSHFI', 'SellerPct_WFHM', 'cusip',
       'Prefix', 'Label'],
      dtype='object')

In [13]:
len(seller_df)

9636863

In [14]:
#dill.dump_session('notebook_env_all_3_dfs.db')

In [15]:
attr_df.shape

(10143061, 59)

In [16]:
attr_df.drop(['Prefix','Cpr1','Cpr3','Cpr6','Cpr12','Cpr24','CprLife','pbal','paydown','Prepay','OCoupon','OWac','PCNLoans','PPNLoans','OSato','%cltv_80','%cltv_105','%cltv_125','%ccltv_80','%ccltv_105','%ccltv_125','%FedHold','%CMOHold','dti','codti'],axis=1,inplace=True)

In [17]:
attr_df.dropna(subset=['CBal','SMM','Wac','aols','fico','OccPct_investor','OccPct_owner','PropUnitsPct_2-4'],inplace=True)

In [18]:
attr_df.sort_values(by=['poolno','asofdate'],inplace=True)

In [19]:
attr_df.fillna(method='ffill',inplace=True)

In [20]:
attr_df['CBal'] = attr_df['CBal'].apply(lambda x: float(x))

In [21]:
attr_df.rename(columns={'Label':'pool_issue_month'},inplace=True)

In [22]:
attr_df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10113549 entries, 1482 to 164706
Data columns (total 34 columns):
 #   Column             Non-Null Count     Dtype
---  ------             --------------     -----
 0   poolno             10113549 non-null  object
 1   asofdate           10113549 non-null  int64
 2   cusip              10113549 non-null  object
 3   spread             10113549 non-null  float64
 4   SMM                10113549 non-null  float64
 5   DayCount           10113549 non-null  float64
 6   OBal               10113549 non-null  float64
 7   CBal               10113549 non-null  float64
 8   factor             10113549 non-null  float64
 9   Coupon             10113549 non-null  float64
 10  Wac                10113549 non-null  float64
 11  Wam                10113549 non-null  float64
 12  Age                10113549 non-null  float64
 13  aols               10113549 non-null  float64
 14  waols              10113549 non-null  float64
 15  ONLoans            10113549 non-null  float64
 16  cnloans            10113549 non-null  float64
 17  CSato              10113549 non-null  float64
 18  oltv               10113549 non-null  float64
 19  cltv               10113549 non-null  float64
 20  fico               10113549 non-null  float64
 21  %CashWindow        10113549 non-null  float64
 22  %Majors            10113549 non-null  float64
 23  ocltv              10113549 non-null  float64
 24  ccltv              10113549 non-null  float64
 25  PurpPct_purchase   10113549 non-null  float64
 26  PurpPct_refi       10113549 non-null  float64
 27  PctChannel_Broker  10113520 non-null  float64
 28  PctChannel_Corr    10113520 non-null  float64
 29  PctChannel_Retail  10113520 non-null  float64
 30  OccPct_investor    10113549 non-null  float64
 31  OccPct_owner       10113549 non-null  float64
 32  PropUnitsPct_2-4   10113549 non-null  float64
 33  pool_issue_month   10113549 non-null  int64
dtypes: float64(30), int64(2), object(2)
memory usage: 2.6+ GB

In [23]:
geo_df.drop('Label',axis=1,inplace=True)

In [24]:
geo_df.sort_values(by=['poolno','asofdate'],inplace=True)

In [25]:
geo_df.fillna(method='ffill',inplace=True)

In [26]:
geo_df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9929896 entries, 1482 to 164706
Data columns (total 57 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   poolno       9929896 non-null  object
 1   asofdate     9929896 non-null  int64
 2   cusip        9929896 non-null  object
 3   StatePct_AK  9929896 non-null  float64
 4   StatePct_AL  9929896 non-null  object
 5   StatePct_AR  9929896 non-null  float64
 6   StatePct_AZ  9929896 non-null  float64
 7   StatePct_CA  9929896 non-null  float64
 8   StatePct_CO  9929896 non-null  object
 9   StatePct_CT  9929896 non-null  float64
 10  StatePct_DC  9929896 non-null  float64
 11  StatePct_DE  9929896 non-null  float64
 12  StatePct_FL  9929896 non-null  float64
 13  StatePct_GA  9929896 non-null  float64
 14  StatePct_GU  9929896 non-null  float64
 15  StatePct_HI  9929896 non-null  float64
 16  StatePct_IA  9929896 non-null  float64
 17  StatePct_ID  9929896 non-null  float64
 18  StatePct_IL  9929896 non-null  float64
 19  StatePct_IN  9929896 non-null  float64
 20  StatePct_KS  9929896 non-null  float64
 21  StatePct_KY  9929896 non-null  float64
 22  StatePct_LA  9929896 non-null  float64
 23  StatePct_MA  9929896 non-null  float64
 24  StatePct_MD  9929896 non-null  float64
 25  StatePct_ME  9929896 non-null  object
 26  StatePct_MI  9929896 non-null  float64
 27  StatePct_MN  9929896 non-null  float64
 28  StatePct_MO  9929896 non-null  float64
 29  StatePct_MS  9929896 non-null  float64
 30  StatePct_MT  9929896 non-null  object
 31  StatePct_NC  9929896 non-null  float64
 32  StatePct_ND  9929896 non-null  float64
 33  StatePct_NE  9929896 non-null  float64
 34  StatePct_NH  9929896 non-null  float64
 35  StatePct_NJ  9929896 non-null  float64
 36  StatePct_NM  9929896 non-null  float64
 37  StatePct_NV  9929896 non-null  float64
 38  StatePct_NY  9929896 non-null  float64
 39  StatePct_OH  9929896 non-null  float64
 40  StatePct_OK  9929896 non-null  float64
 41  StatePct_OR  9929896 non-null  float64
 42  StatePct_PA  9929896 non-null  float64
 43  StatePct_PR  9929896 non-null  float64
 44  StatePct_RI  9929896 non-null  float64
 45  StatePct_SC  9929896 non-null  float64
 46  StatePct_SD  9929896 non-null  float64
 47  StatePct_TN  9929896 non-null  object
 48  StatePct_TX  9929896 non-null  float64
 49  StatePct_UT  9929896 non-null  float64
 50  StatePct_VA  9929896 non-null  float64
 51  StatePct_VI  9929896 non-null  float64
 52  StatePct_VT  9929896 non-null  float64
 53  StatePct_WA  9929896 non-null  float64
 54  StatePct_WI  9929896 non-null  float64
 55  StatePct_WV  9929896 non-null  float64
 56  StatePct_WY  9929896 non-null  object
dtypes: float64(48), int64(1), object(8)
memory usage: 4.3+ GB

In [27]:
geo_columns = ['StatePct_AK','StatePct_AL','StatePct_AR','StatePct_AZ','StatePct_CA','StatePct_CO','StatePct_CT',
                'StatePct_DC','StatePct_DE','StatePct_FL','StatePct_GA','StatePct_GU','StatePct_HI','StatePct_IA',
                'StatePct_ID','StatePct_IL','StatePct_IN','StatePct_KS','StatePct_KY','StatePct_LA','StatePct_MA',
                'StatePct_MD','StatePct_ME','StatePct_MI','StatePct_MN','StatePct_MO','StatePct_MS','StatePct_MT',
                'StatePct_NC','StatePct_ND','StatePct_NE','StatePct_NH','StatePct_NJ','StatePct_NM','StatePct_NV',
                'StatePct_NY','StatePct_OH','StatePct_OK','StatePct_OR','StatePct_PA','StatePct_PR','StatePct_RI',
                'StatePct_SC','StatePct_SD','StatePct_TN','StatePct_TX','StatePct_UT','StatePct_VA','StatePct_VI',
                'StatePct_VT','StatePct_WA','StatePct_WI','StatePct_WV','StatePct_WY']

In [28]:
def isfloat(value):
  try:
    float(value)
    return True
  except ValueError:
    return False

In [29]:
geo_df[geo_columns] = geo_df[geo_columns].applymap(lambda x: float(x) if isfloat(x) else np.nan)

In [30]:
geo_df.fillna(0,inplace=True)

In [31]:
geo_df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9929896 entries, 1482 to 164706
Data columns (total 57 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   poolno       9929896 non-null  object
 1   asofdate     9929896 non-null  int64
 2   cusip        9929896 non-null  object
 3   StatePct_AK  9929896 non-null  float64
 4   StatePct_AL  9929896 non-null  float64
 5   StatePct_AR  9929896 non-null  float64
 6   StatePct_AZ  9929896 non-null  float64
 7   StatePct_CA  9929896 non-null  float64
 8   StatePct_CO  9929896 non-null  float64
 9   StatePct_CT  9929896 non-null  float64
 10  StatePct_DC  9929896 non-null  float64
 11  StatePct_DE  9929896 non-null  float64
 12  StatePct_FL  9929896 non-null  float64
 13  StatePct_GA  9929896 non-null  float64
 14  StatePct_GU  9929896 non-null  float64
 15  StatePct_HI  9929896 non-null  float64
 16  StatePct_IA  9929896 non-null  float64
 17  StatePct_ID  9929896 non-null  float64
 18  StatePct_IL  9929896 non-null  float64
 19  StatePct_IN  9929896 non-null  float64
 20  StatePct_KS  9929896 non-null  float64
 21  StatePct_KY  9929896 non-null  float64
 22  StatePct_LA  9929896 non-null  float64
 23  StatePct_MA  9929896 non-null  float64
 24  StatePct_MD  9929896 non-null  float64
 25  StatePct_ME  9929896 non-null  float64
 26  StatePct_MI  9929896 non-null  float64
 27  StatePct_MN  9929896 non-null  float64
 28  StatePct_MO  9929896 non-null  float64
 29  StatePct_MS  9929896 non-null  float64
 30  StatePct_MT  9929896 non-null  float64
 31  StatePct_NC  9929896 non-null  float64
 32  StatePct_ND  9929896 non-null  float64
 33  StatePct_NE  9929896 non-null  float64
 34  StatePct_NH  9929896 non-null  float64
 35  StatePct_NJ  9929896 non-null  float64
 36  StatePct_NM  9929896 non-null  float64
 37  StatePct_NV  9929896 non-null  float64
 38  StatePct_NY  9929896 non-null  float64
 39  StatePct_OH  9929896 non-null  float64
 40  StatePct_OK  9929896 non-null  float64
 41  StatePct_OR  9929896 non-null  float64
 42  StatePct_PA  9929896 non-null  float64
 43  StatePct_PR  9929896 non-null  float64
 44  StatePct_RI  9929896 non-null  float64
 45  StatePct_SC  9929896 non-null  float64
 46  StatePct_SD  9929896 non-null  float64
 47  StatePct_TN  9929896 non-null  float64
 48  StatePct_TX  9929896 non-null  float64
 49  StatePct_UT  9929896 non-null  float64
 50  StatePct_VA  9929896 non-null  float64
 51  StatePct_VI  9929896 non-null  float64
 52  StatePct_VT  9929896 non-null  float64
 53  StatePct_WA  9929896 non-null  float64
 54  StatePct_WI  9929896 non-null  float64
 55  StatePct_WV  9929896 non-null  float64
 56  StatePct_WY  9929896 non-null  float64
dtypes: float64(54), int64(1), object(2)
memory usage: 4.3+ GB

In [32]:
seller_df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9636863 entries, 0 to 1283
Data columns (total 27 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   poolno              9636863 non-null  object
 1   asofdate            9636863 non-null  int64
 2   SellerPct_AMRHT     9634381 non-null  object
 3   SellerPct_ALS       9634376 non-null  float64
 4   SellerPct_CAFULL    9634376 non-null  float64
 5   SellerPct_CNTL      9634373 non-null  float64
 6   SellerPct_CITIZ     9634373 non-null  float64
 7   SellerPct_53        9634373 non-null  float64
 8   SellerPct_FIR       9634355 non-null  float64
 9   SellerPct_FRDOM     9634355 non-null  float64
 10  SellerPct_GUILD     9634355 non-null  object
 11  SellerPct_CHASE     9634348 non-null  float64
 12  SellerPct_LLSL      9634348 non-null  float64
 13  SellerPct_MATRX     9634348 non-null  object
 14  SellerPct_NCM       9634334 non-null  float64
 15  SellerPct_NATIONST  9634334 non-null  float64
 16  SellerPct_NRESM     9634331 non-null  object
 17  SellerPct_PNYMAC    9634327 non-null  float64
 18  SellerPct_PILOSI    9634327 non-null  float64
 19  SellerPct_QUICK     9634309 non-null  object
 20  SellerPct_REG       9634308 non-null  float64
 21  SellerPct_RMSC      9634308 non-null  float64
 22  SellerPct_UNSHFI    9634295 non-null  float64
 23  SellerPct_WFHM      9634295 non-null  float64
 24  cusip               9636768 non-null  object
 25  Prefix              9636730 non-null  object
 26  Label               9636863 non-null  int64
dtypes: float64(17), int64(2), object(8)
memory usage: 2.0+ GB

In [33]:
seller_df.drop(['Label','Prefix'],axis=1,inplace=True)

In [34]:
seller_df.sort_values(by=['poolno','asofdate'],inplace=True)

In [35]:
seller_df.fillna(method='ffill',inplace=True)

In [36]:
seller_columns = ['SellerPct_AMRHT','SellerPct_ALS','SellerPct_CAFULL','SellerPct_CNTL','SellerPct_CITIZ',
                  'SellerPct_53','SellerPct_FIR','SellerPct_FRDOM','SellerPct_GUILD','SellerPct_CHASE',
                  'SellerPct_LLSL','SellerPct_MATRX','SellerPct_NCM','SellerPct_NATIONST','SellerPct_NRESM',
                  'SellerPct_PNYMAC','SellerPct_PILOSI','SellerPct_QUICK','SellerPct_REG','SellerPct_RMSC',
                  'SellerPct_UNSHFI','SellerPct_WFHM']

In [37]:
seller_df[seller_columns] = seller_df[seller_columns].applymap(lambda x: float(x) if isfloat(x) else np.nan)

In [38]:
seller_df.fillna(0,inplace=True)

In [39]:
seller_df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9636863 entries, 1482 to 136071
Data columns (total 25 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   poolno              9636863 non-null  object
 1   asofdate            9636863 non-null  int64
 2   SellerPct_AMRHT     9636863 non-null  float64
 3   SellerPct_ALS       9636863 non-null  float64
 4   SellerPct_CAFULL    9636863 non-null  float64
 5   SellerPct_CNTL      9636863 non-null  float64
 6   SellerPct_CITIZ     9636863 non-null  float64
 7   SellerPct_53        9636863 non-null  float64
 8   SellerPct_FIR       9636863 non-null  float64
 9   SellerPct_FRDOM     9636863 non-null  float64
 10  SellerPct_GUILD     9636863 non-null  float64
 11  SellerPct_CHASE     9636863 non-null  float64
 12  SellerPct_LLSL      9636863 non-null  float64
 13  SellerPct_MATRX     9636863 non-null  float64
 14  SellerPct_NCM       9636863 non-null  float64
 15  SellerPct_NATIONST  9636863 non-null  float64
 16  SellerPct_NRESM     9636863 non-null  float64
 17  SellerPct_PNYMAC    9636863 non-null  float64
 18  SellerPct_PILOSI    9636863 non-null  float64
 19  SellerPct_QUICK     9636863 non-null  float64
 20  SellerPct_REG       9636863 non-null  float64
 21  SellerPct_RMSC      9636863 non-null  float64
 22  SellerPct_UNSHFI    9636863 non-null  float64
 23  SellerPct_WFHM      9636863 non-null  float64
 24  cusip               9636863 non-null  object
dtypes: float64(22), int64(1), object(2)
memory usage: 1.9+ GB

In [40]:
df = pd.merge(attr_df,geo_df,on=['cusip','asofdate'],how='left')

In [43]:
for i,row in df.iterrows():
    if row['poolno_x'] != row['poolno_y']:
        print(f'pool numbers differ row={i} | pool_x={row["poolno_x"]} | pool_y={row["poolno_y"]}')

bers differ row=1119359 | pool_x=AD9363 | pool_y=nan
pool numbers differ row=1119360 | pool_x=AD9363 | pool_y=nan
pool numbers differ row=1119361 | pool_x=AD9363 | pool_y=nan
pool numbers differ row=1119362 | pool_x=AD9363 | pool_y=nan
pool numbers differ row=1119363 | pool_x=AD9363 | pool_y=nan
pool numbers differ row=1119364 | pool_x=AD9363 | pool_y=nan
pool numbers differ row=1119365 | pool_x=AD9363 | pool_y=nan
pool numbers differ row=1119366 | pool_x=AD9363 | pool_y=nan
pool numbers differ row=1119367 | pool_x=AD9363 | pool_y=nan
pool numbers differ row=1119368 | pool_x=AD9363 | pool_y=nan
pool numbers differ row=1119422 | pool_x=AD9364 | pool_y=nan
pool numbers differ row=1119423 | pool_x=AD9364 | pool_y=nan
pool numbers differ row=1119424 | pool_x=AD9364 | pool_y=nan
pool numbers differ row=1119425 | pool_x=AD9364 | pool_y=nan
pool numbers differ row=1119426 | pool_x=AD9364 | pool_y=nan
pool numbers differ row=1119427 | pool_x=AD9364 | pool_y=nan
pool numbers differ row=1119428 | pool_x=AD9364 | pool_y=nan
pool numbers differ row=1119429 | pool_x=AD9364 | pool_y=nan
pool numbers differ row=1119430 | pool_x=AD9364 | pool_y=nan
pool numbers differ row=1119431 | pool_x=AD9364 | pool_y=nan
pool numbers differ row=1119432 | pool_x=AD9364 | pool_y=nan
pool numbers differ row=1119433 | pool_x=AD9364 | pool_y=nan
pool numbers differ row=1119470 | pool_x=AD9364 | pool_y=nan
pool numbers differ row=1119471 | pool_x=AD9364 | pool_y=nan
pool numbers differ row=1119472 | pool_x=AD9364 | pool_y=nan
pool numbers differ row=1119473 | pool_x=AD9364 | pool_y=nan
pool numbers differ row=1119474 | pool_x=AD9364 | pool_y=nan
pool numbers differ row=1119475 | pool_x=AD9364 | pool_y=nan
pool numbers differ row=1119476 | pool_x=AD9364 | pool_y=nan
pool numbers differ row=1119477 | pool_x=AD9364 | pool_y=nan
pool numbers differ row=1119478 | pool_x=AD9364 | pool_y=nan
pool numbers differ row=1119479 | pool_x=AD9364 | pool_y=nan
pool numbers differ row=1119480 | pool_x=AD9364 | pool_y=nan
pool numbers differ row=1119481 | pool_x=AD9364 | pool_y=nan
pool numbers differ row=1119535 | pool_x=AD9365 | pool_y=nan
pool numbers differ row=1119536 | pool_x=AD9365 | pool_y=nan
pool numbers differ row=1119537 | pool_x=AD9365 | pool_y=nan
pool numbers differ row=1119538 | pool_x=AD9365 | pool_y=nan
pool numbers differ row=1119539 | pool_x=AD9365 | pool_y=nan
pool numbers differ row=1119540 | pool_x=AD9365 | pool_y=nan
pool numbers differ row=1119541 | pool_x=AD9365 | pool_y=nan
pool numbers differ row=1119542 | pool_x=AD9365 | pool_y=nan
pool numbers differ row=1119543 | pool_x=AD9365 | pool_y=nan
pool numbers differ row=1119544 | pool_x=AD9365 | pool_y=nan
pool numbers differ row=1119545 | pool_x=AD9365 | pool_y=nan
pool numbers differ row=1119546 | pool_x=AD9365 | pool_y=nan
pool numbers differ row=1119583 | pool_x=AD9365 | pool_y=nan
pool numbers differ row=1119584 | pool_x=AD9365 | pool_y=nan
pool numbers differ row=1119585 | pool_x=AD9365 | pool_y=nan
pool numbers differ row=1119586 | pool_x=AD9365 | pool_y=nan
pool numbers differ row=1119587 | pool_x=AD9365 | pool_y=nan
pool numbers differ row=1119588 | pool_x=AD9365 | pool_y=nan
pool numbers differ row=1119589 | pool_x=AD9365 | pool_y=nan
pool numbers differ row=1119590 | pool_x=AD9365 | pool_y=nan
pool numbers differ row=1119591 | pool_x=AD9365 | pool_y=nan
pool numbers differ row=1119592 | pool_x=AD9365 | pool_y=nan
pool numbers differ row=1119593 | pool_x=AD9365 | pool_y=nan
pool numbers differ row=1119594 | pool_x=AD9365 | pool_y=nan
pool numbers differ row=1119761 | pool_x=AD9368 | pool_y=nan
pool numbers differ row=1119762 | pool_x=AD9368 | pool_y=nan
pool numbers differ row=1119763 | pool_x=AD9368 | pool_y=nan
pool numbers differ row=1119764 | pool_x=AD9368 | pool_y=nan
pool numbers differ row=1119765 | pool_x=AD9368 | pool_y=nan
pool numbers differ row=1119766 | pool_x=AD9368 | pool_y=nan
pool numbers differ row=1119767 | pool_x=AD9368 | pool_y=nan
pool numbers differ row=1119768 | pool_x=AD9368 | pool_y=nan
pool numbers differ row=1119769 | pool_x=AD9368 | pool_y=nan
pool numbers differ row=1119770 | pool_x=AD9368 | pool_y=nan
pool numbers differ row=1119771 | pool_x=AD9368 | pool_y=nan
pool numbers differ row=1119772 | pool_x=AD9368 | pool_y=nan
pool numbers differ row=1119809 | pool_x=AD9368 | pool_y=nan
pool numbers differ row=1119810 | pool_x=AD9368 | pool_y=nan
pool numbers differ row=1119811 | pool_x=AD9368 | pool_y=nan
pool numbers differ row=1119812 | pool_x=AD9368 | pool_y=nan
pool numbers differ row=1119813 | pool_x=AD9368 | pool_y=nan
pool numbers differ row=1119814 | pool_x=AD9368 | pool_y=nan
pool numbers differ row=1119815 | pool_x=AD9368 | pool_y=nan
pool numbers differ row=1119816 | pool_x=AD9368 | pool_y=nan
pool numbers differ row=1119817 | pool_x=AD9368 | pool_y=nan
pool numbers differ row=1119818 | pool_x=AD9368 | pool_y=nan
pool numbers differ row=1119819 | pool_x=AD9368 | pool_y=nan
pool numbers differ row=1119820 | pool_x=AD9368 | pool_y=nan
pool numbers differ row=1119874 | pool_x=AD9369 | pool_y=nan
pool numbers differ row=1119875 | pool_x=AD9369 | pool_y=nan
pool numbers differ row=1119876 | pool_x=AD9369 | pool_y=nan
pool numbers differ row=1119877 | pool_x=AD9369 | pool_y=nan
pool numbers differ row=1119878 | pool_x=AD9369 | pool_y=nan
pool numbers differ row=1119879 | pool_x=AD9369 | pool_y=nan
pool numbers differ row=1119880 | pool_x=AD9369 | pool_y=nan
pool numbers differ row=1119881 | pool_x=AD9369 | pool_y=nan
pool numbers differ row=1119882 | pool_x=AD9369 | pool_y=nan
pool numbers differ row=1119883 | pool_x=AD9369 | pool_y=nan
pool numbers differ row=1119884 | pool_x=AD9369 | pool_y=nan
pool numbers differ row=1119885 | pool_x=AD9369 | pool_y=nan
pool numbers differ row=1119922 | pool_x=AD9369 | pool_y=nan
pool numbers differ row=1119923 | pool_x=AD9369 | pool_y=nan
pool numbers differ row=1119924 | pool_x=AD9369 | pool_y=nan
pool numbers differ row=1119925 | pool_x=AD9369 | pool_y=nan
pool numbers differ row=1119926 | pool_x=AD9369 | pool_y=nan
pool numbers differ row=1119927 | pool_x=AD9369 | pool_y=nan
pool numbers differ row=1119928 | pool_x=AD9369 | pool_y=nan
pool numbers differ row=1119929 | pool_x=AD9369 | pool_y=nan
pool numbers differ row=1119930 | pool_x=AD9369 | pool_y=nan
pool numbers differ row=1119931 | pool_x=AD9369 | pool_y=nan
pool numbers differ row=1119932 | pool_x=AD9369 | pool_y=nan
pool numbers differ row=1119933 | pool_x=AD9369 | pool_y=nan
pool numbers differ row=1120100 | pool_x=AD9371 | pool_y=nan
pool numbers differ row=1120101 | pool_x=AD9371 | pool_y=nan
pool numbers differ row=1120102 | pool_x=AD9371 | pool_y=nan
pool numbers differ row=1120103 | pool_x=AD9371 | pool_y=nan
pool numbers differ row=1120104 | pool_x=AD9371 | pool_y=nan
pool numbers differ row=1120105 | pool_x=AD9371 | pool_y=nan
pool numbers differ row=1120106 | pool_x=AD9371 | pool_y=nan
pool numbers differ row=1120107 | pool_x=AD9371 | pool_y=nan
pool numbers differ row=1120108 | pool_x=AD9371 | pool_y=nan
pool numbers differ row=1120109 | pool_x=AD9371 | pool_y=nan
pool numbers differ row=1120110 | pool_x=AD9371 | pool_y=nan
pool numbers differ row=1120111 | pool_x=AD9371 | pool_y=nan
pool numbers differ row=1120148 | pool_x=AD9371 | pool_y=nan
pool numbers differ row=1120149 | pool_x=AD9371 | pool_y=nan
pool numbers differ row=1120150 | pool_x=AD9371 | pool_y=nan
pool numbers differ row=1120151 | pool_x=AD9371 | pool_y=nan
pool numbers differ row=1120152 | pool_x=AD9371 | pool_y=nan
pool numbers differ row=1120153 | pool_x=AD9371 | pool_y=nan
pool numbers differ row=1120154 | pool_x=AD9371 | pool_y=nan
pool numbers differ row=1120155 | pool_x=AD9371 | pool_y=nan
pool numbers differ row=1120156 | pool_x=AD9371 | pool_y=nan
pool numbers differ row=1120157 | pool_x=AD9371 | pool_y=nan
pool numbers differ row=1120158 | pool_x=AD9371 | pool_y=nan
pool numbers differ row=1120159 | pool_x=AD9371 | pool_y=nan
pool numbers differ row=1120213 | pool_x=AD9372 | pool_y=nan
pool numbers differ row=1120214 | pool_x=AD9372 | pool_y=nan
pool numbers differ row=1120215 | pool_x=AD9372 | pool_y=nan
pool numbers differ row=1120216 | pool_x=AD9372 | pool_y=nan
pool numbers differ row=1120217 | pool_x=AD9372 | pool_y=nan
pool numbers differ row=1120218 | pool_x=AD9372 | pool_y=nan
pool numbers differ row=1120219 | pool_x=AD9372 | pool_y=nan
pool numbers differ row=1120220 | pool_x=AD9372 | pool_y=nan
pool numbers differ row=1120221 | pool_x=AD9372 | pool_y=nan
pool numbers differ row=1120222 | pool_x=AD9372 | pool_y=nan
pool numbers differ row=1120223 | pool_x=AD9372 | pool_y=nan
pool numbers differ row=1120224 | pool_x=AD9372 | pool_y=nan
pool numbers differ row=1120261 | pool_x=AD9372 | pool_y=nan
pool numbers differ row=1120262 | pool_x=AD9372 | pool_y=nan
pool numbers differ row=1120263 | pool_x=AD9372 | pool_y=nan
pool numbers differ row=1120264 | pool_x=AD9372 | pool_y=nan
pool numbers differ row=1120265 | pool_x=AD9372 | pool_y=nan
pool numbers differ row=1120266 | pool_x=AD9372 | pool_y=nan
pool numbers differ row=1120267 | pool_x=AD9372 | pool_y=nan
pool numbers differ row=1120268 | pool_x=AD9372 | pool_y=nan
pool numbers differ row=1120269 | pool_x=AD9372 | pool_y=nan
pool numbers differ row=1120270 | pool_x=AD9372 | pool_y=nan
pool numbers differ row=1120271 | pool_x=AD9372 | pool_y=nan
pool numbers differ row=1120272 | pool_x=AD9372 | pool_y=nan
pool numbers differ row=1120326 | pool_x=AD9373 | pool_y=nan
pool numbers differ row=1120327 | pool_x=AD9373 | pool_y=nan
pool numbers differ row=1120328 | pool_x=AD9373 | pool_y=nan
pool numbers differ row=1120329 | pool_x=AD9373 | pool_y=nan
pool numbers differ row=1120330 | pool_x=AD9373 | pool_y=nan
pool numbers differ row=1120331 | pool_x=AD9373 | pool_y=nan
pool numbers differ row=1120332 | pool_x=AD9373 | pool_y=nan
pool numbers differ row=1120333 | pool_x=AD9373 | pool_y=nan
pool numbers differ row=1120334 | pool_x=AD9373 | pool_y=nan
pool numbers differ row=1120335 | pool_x=AD9373 | pool_y=nan
pool numbers differ row=1120336 | pool_x=AD9373 | pool_y=nan
pool numbers differ row=1120337 | pool_x=AD9373 | pool_y=nan
pool numbers differ row=1120374 | pool_x=AD9373 | pool_y=nan
pool numbers differ row=1120375 | pool_x=AD9373 | pool_y=nan
pool numbers differ row=1120376 | pool_x=AD9373 | pool_y=nan
pool numbers differ row=1120377 | pool_x=AD9373 | pool_y=nan
pool numbers differ row=1120378 | pool_x=AD9373 | pool_y=nan
pool numbers differ row=1120379 | pool_x=AD9373 | pool_y=nan
pool numbers differ row=1120380 | pool_x=AD9373 | pool_y=nan
pool numbers differ row=1120381 | pool_x=AD9373 | pool_y=nan
pool numbers differ row=1120382 | pool_x=AD9373 | pool_y=nan
pool numbers differ row=1120383 | pool_x=AD9373 | pool_y=nan
pool numbers differ row=1120384 | pool_x=AD9373 | pool_y=nan
pool numbers differ row=1120385 | pool_x=AD9373 | pool_y=nan
pool numbers differ row=1120439 | pool_x=AD9374 | pool_y=nan
pool numbers differ row=1120440 | pool_x=AD9374 | pool_y=nan
pool numbers differ row=1120441 | pool_x=AD9374 | pool_y=nan
pool numbers differ row=1120442 | pool_x=AD9374 | pool_y=nan
pool numbers differ row=1120443 | pool_x=AD9374 | pool_y=nan
pool numbers differ row=1120444 | pool_x=AD9374 | pool_y=nan
pool numbers differ row=1120445 | pool_x=AD9374 | pool_y=nan
pool numbers differ row=1120446 | pool_x=AD9374 | pool_y=nan
pool numbers differ row=1120447 | pool_x=AD9374 | pool_y=nan
pool numbers differ row=1120448 | pool_x=AD9374 | pool_y=nan
pool numbers differ row=1120449 | pool_x=AD9374 | pool_y=nan
pool numbers differ row=1120450 | pool_x=AD9374 | pool_y=nan
pool numbers differ row=1120487 | pool_x=AD9374 | pool_y=nan
pool numbers differ row=1120488 | pool_x=AD9374 | pool_y=nan
pool numbers differ row=1120489 | pool_x=AD9374 | pool_y=nan
pool numbers differ row=1120490 | pool_x=AD9374 | pool_y=nan
pool numbers differ row=1120491 | pool_x=AD9374 | pool_y=nan
pool numbers differ row=1120492 | pool_x=AD9374 | pool_y=nan
pool numbers differ row=1120658 | pool_x=AD9376 | pool_y=nan
pool numbers differ row=1120659 | pool_x=AD9376 | pool_y=nan
pool numbers differ row=1120660 | pool_x=AD9376 | pool_y=nan
pool numbers differ row=1120661 | pool_x=AD9376 | pool_y=nan
pool numbers differ row=1120662 | pool_x=AD9376 | pool_y=nan
pool numbers differ row=1120663 | pool_x=AD9376 | pool_y=nan
pool numbers differ row=1120664 | pool_x=AD9376 | pool_y=nan
pool numbers differ row=1120665 | pool_x=AD9376 | pool_y=nan
pool numbers differ row=1120666 | pool_x=AD9376 | pool_y=nan
pool numbers differ row=1120667 | pool_x=AD9376 | pool_y=nan
pool numbers differ row=1120668 | pool_x=AD9376 | pool_y=nan
pool numbers differ row=1120669 | pool_x=AD9376 | pool_y=nan
pool numbers differ row=1120706 | pool_x=AD9376 | pool_y=nan
pool numbers differ row=1120707 | pool_x=AD9376 | pool_y=nan
pool numbers differ row=1120708 | pool_x=AD9376 | pool_y=nan
pool numbers differ row=1120709 | pool_x=AD9376 | pool_y=nan
pool numbers differ row=1120710 | pool_x=AD9376 | pool_y=nan
pool numbers differ row=1120711 | pool_x=AD9376 | pool_y=nan
pool numbers differ row=1120712 | pool_x=AD9376 | pool_y=nan
pool numbers differ row=1120713 | pool_x=AD9376 | pool_y=nan
pool numbers differ row=1120714 | pool_x=AD9376 | pool_y=nan
pool numbers differ row=1120715 | pool_x=AD9376 | pool_y=nan
pool numbers differ row=1120716 | pool_x=AD9376 | pool_y=nan
pool numbers differ row=1120717 | pool_x=AD9376 | pool_y=nan
pool numbers differ row=1120884 | pool_x=AD9378 | pool_y=nan
pool numbers differ row=1120885 | pool_x=AD9378 | pool_y=nan
pool numbers differ row=1120886 | pool_x=AD9378 | pool_y=nan
pool numbers differ row=1120887 | pool_x=AD9378 | pool_y=nan
pool numbers differ row=1120888 | pool_x=AD9378 | pool_y=nan
pool numbers differ row=1120889 | pool_x=AD9378 | pool_y=nan
pool numbers differ row=1120890 | pool_x=AD9378 | pool_y=nan
pool numbers differ row=1120891 | pool_x=AD9378 | pool_y=nan
pool numbers differ row=1120892 | pool_x=AD9378 | pool_y=nan
pool numbers differ row=1120893 | pool_x=AD9378 | pool_y=nan
pool numbers differ row=1120894 | pool_x=AD9378 | pool_y=nan
pool numbers differ row=1120895 | pool_x=AD9378 | pool_y=nan
pool numbers differ row=1120932 | pool_x=AD9378 | pool_y=nan
pool numbers differ row=1120933 | pool_x=AD9378 | pool_y=nan
pool numbers differ row=1120934 | pool_x=AD9378 | pool_y=nan
pool numbers differ row=1120935 | pool_x=AD9378 | pool_y=nan
pool numbers differ row=1120936 | pool_x=AD9378 | pool_y=nan
pool numbers differ row=1120937 | pool_x=AD9378 | pool_y=nan
pool numbers differ row=1120938 | pool_x=AD9378 | pool_y=nan
pool numbers differ row=1120939 | pool_x=AD9378 | pool_y=nan
pool numbers differ row=1120940 | pool_x=AD9378 | pool_y=nan
pool numbers differ row=1120941 | pool_x=AD9378 | pool_y=nan
pool numbers differ row=1120942 | pool_x=AD9378 | pool_y=nan
pool numbers differ row=1120943 | pool_x=AD9378 | pool_y=nan
pool numbers differ row=1120997 | pool_x=AD9381 | pool_y=nan
pool numbers differ row=1120998 | pool_x=AD9381 | pool_y=nan
pool numbers differ row=1120999 | pool_x=AD9381 | pool_y=nan
pool numbers differ row=1121000 | pool_x=AD9381 | pool_y=nan
pool numbers differ row=1121001 | pool_x=AD9381 | pool_y=nan
pool numbers differ row=1121002 | pool_x=AD9381 | pool_y=nan
pool numbers differ row=1121003 | pool_x=AD9381 | pool_y=nan
pool numbers differ row=1121004 | pool_x=AD9381 | pool_y=nan
pool numbers differ row=1121005 | pool_x=AD9381 | pool_y=nan
pool numbers differ row=1121006 | pool_x=AD9381 | pool_y=nan
pool numbers differ row=1121007 | pool_x=AD9381 | pool_y=nan
pool numbers differ row=1121008 | pool_x=AD9381 | pool_y=nan
pool numbers differ row=1121045 | pool_x=AD9381 | pool_y=nan
pool numbers differ row=1121046 | pool_x=AD9381 | pool_y=nan
pool numbers differ row=1121047 | pool_x=AD9381 | pool_y=nan
pool numbers differ row=1121048 | pool_x=AD9381 | pool_y=nan
pool numbers differ row=1121049 | pool_x=AD9381 | pool_y=nan
pool numbers differ row=1121050 | pool_x=AD9381 | pool_y=nan
pool numbers differ row=1121051 | pool_x=AD9381 | pool_y=nan
pool numbers differ row=1121052 | pool_x=AD9381 | pool_y=nan
pool numbers differ row=1121053 | pool_x=AD9381 | pool_y=nan
pool numbers differ row=1121054 | pool_x=AD9381 | pool_y=nan
pool numbers differ row=1121055 | pool_x=AD9381 | pool_y=nan
pool numbers differ row=1121056 | pool_x=AD9381 | pool_y=nan
pool numbers differ row=1121223 | pool_x=AD9383 | pool_y=nan
pool numbers differ row=1121224 | pool_x=AD9383 | pool_y=nan
pool numbers differ row=1121225 | pool_x=AD9383 | pool_y=nan
pool numbers differ row=1121226 | pool_x=AD9383 | pool_y=nan
pool numbers differ row=1121227 | pool_x=AD9383 | pool_y=nan
pool numbers differ row=1121228 | pool_x=AD9383 | pool_y=nan
pool numbers differ row=1121229 | pool_x=AD9383 | pool_y=nan
pool numbers differ row=1121230 | pool_x=AD9383 | pool_y=nan
pool numbers differ row=1121231 | pool_x=AD9383 | pool_y=nan
pool numbers differ row=1121232 | pool_x=AD9383 | pool_y=nan
pool numbers differ row=1121233 | pool_x=AD9383 | pool_y=nan
pool numbers differ row=1121234 | pool_x=AD9383 | pool_y=nan
pool numbers differ row=1121271 | pool_x=AD9383 | pool_y=nan
pool numbers differ row=1121272 | pool_x=AD9383 | pool_y=nan
pool numbers differ row=1121273 | pool_x=AD9383 | pool_y=nan
pool numbers differ row=1121274 | pool_x=AD9383 | pool_y=nan
pool numbers differ row=1121275 | pool_x=AD9383 | pool_y=nan
pool numbers differ row=1121276 | pool_x=AD9383 | pool_y=nan
pool numbers differ row=1121277 | pool_x=AD9383 | pool_y=nan
pool numbers differ row=1121278 | pool_x=AD9383 | pool_y=nan
pool numbers differ row=1121279 | pool_x=AD9383 | pool_y=nan
pool numbers differ row=1121280 | pool_x=AD9383 | pool_y=nan
pool numbers differ row=1121281 | pool_x=AD9383 | pool_y=nan
pool numbers differ row=1121282 | pool_x=AD9383 | pool_y=nan
pool numbers differ row=1121788 | pool_x=AD9388 | pool_y=nan
pool numbers differ row=1121789 | pool_x=AD9388 | pool_y=nan
pool numbers differ row=1121790 | pool_x=AD9388 | pool_y=nan
pool numbers differ row=1121791 | pool_x=AD9388 | pool_y=nan
pool numbers differ row=1121792 | pool_x=AD9388 | pool_y=nan
pool numbers differ row=1121793 | pool_x=AD9388 | pool_y=nan
pool numbers differ row=1121794 | pool_x=AD9388 | pool_y=nan
pool numbers differ row=1121795 | pool_x=AD9388 | pool_y=nan
pool numbers differ row=1121796 | pool_x=AD9388 | pool_y=nan
pool numbers differ row=1121797 | pool_x=AD9388 | pool_y=nan
pool numbers differ row=1121798 | pool_x=AD9388 | pool_y=nan
pool numbers differ row=1121799 | pool_x=AD9388 | pool_y=nan
pool numbers differ row=1121836 | pool_x=AD9388 | pool_y=nan
pool numbers differ row=1121837 | pool_x=AD9388 | pool_y=nan
pool numbers differ row=1121838 | pool_x=AD9388 | pool_y=nan
pool numbers differ row=1121839 | pool_x=AD9388 | pool_y=nan
pool numbers differ row=1121840 | pool_x=AD9388 | pool_y=nan
pool numbers differ row=1121841 | pool_x=AD9388 | pool_y=nan
pool numbers differ row=1121842 | pool_x=AD9388 | pool_y=nan
pool numbers differ row=1121843 | pool_x=AD9388 | pool_y=nan
pool numbers differ row=1121844 | pool_x=AD9388 | pool_y=nan
pool numbers differ row=1121845 | pool_x=AD9388 | pool_y=nan
pool numbers differ row=1121846 | pool_x=AD9388 | pool_y=nan
pool numbers differ row=1121847 | pool_x=AD9388 | pool_y=nan
pool numbers differ row=1122282 | pool_x=AD9392 | pool_y=nan
pool numbers differ row=1122283 | pool_x=AD9392 | pool_y=nan
pool numbers differ row=1122284 | pool_x=AD9392 | pool_y=nan
pool numbers differ row=1122285 | pool_x=AD9392 | pool_y=nan
pool numbers differ row=1122286 | pool_x=AD9392 | pool_y=nan
pool numbers differ row=1122287 | pool_x=AD9392 | pool_y=nan
pool numbers differ row=1122288 | pool_x=AD9392 | pool_y=nan
pool numbers differ row=1122289 | pool_x=AD9392 | pool_y=nan
pool numbers differ row=1122290 | pool_x=AD9392 | pool_y=nan
pool numbers differ row=1122291 | pool_x=AD9392 | pool_y=nan
pool numbers differ row=1122292 | pool_x=AD9392 | pool_y=nan
pool numbers differ row=1122293 | pool_x=AD9392 | pool_y=nan

KeyboardInterrupt:

In [44]:
#df[df['pool_x']=='AD9369']

df.shape

KeyError: 'pool_x'

In [45]:
df.head()

,poolno_x,asofdate,cusip,spread,SMM,DayCount,OBal,CBal,factor,Coupon,...,StatePct_TN,StatePct_TX,StatePct_UT,StatePct_VA,StatePct_VI,StatePct_VT,StatePct_WA,StatePct_WI,StatePct_WV,StatePct_WY
0,877118,201012,31409SPB0,-19.5,0.0029,22.0,58535566.0,58449322.63,99.852665,3.5,...,2.61,4.97,1.30,3.64,0.0,0.27,3.08,1.15,0.0,2.42
1,877118,201101,31409SPB0,-44.0,0.0247,20.0,58535566.0,58350056.36,99.683082,3.5,...,2.61,4.97,1.29,3.64,0.0,0.27,3.08,1.15,0.0,2.42
2,877118,201102,31409SPB0,-66.8,0.1765,19.0,58535566.0,58162116.05,99.362012,3.5,...,2.61,4.98,1.28,3.64,0.0,0.27,3.08,1.15,0.0,2.42
3,877118,201103,31409SPB0,-78.7,0.8830,23.0,58535566.0,57564063.94,98.340322,3.5,...,2.64,5.02,1.29,3.68,0.0,0.27,3.10,1.16,0.0,2.45
4,877118,201104,31409SPB0,-82.7,1.0095,21.0,58535566.0,56898607.41,97.203480,3.5,...,2.66,5.07,1.29,3.71,0.0,0.27,2.14,1.17,0.0,2.47

In [ ]:
#check that poolno_x and poolno_y are exactly the same, drop one and rename the other to poolno

In [41]:
df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10113549 entries, 0 to 10113548
Data columns (total 89 columns):
 #   Column             Non-Null Count     Dtype
---  ------             --------------     -----
 0   poolno_x           10113549 non-null  object
 1   asofdate           10113549 non-null  int64
 2   cusip              10113549 non-null  object
 3   spread             10113549 non-null  float64
 4   SMM                10113549 non-null  float64
 5   DayCount           10113549 non-null  float64
 6   OBal               10113549 non-null  float64
 7   CBal               10113549 non-null  float64
 8   factor             10113549 non-null  float64
 9   Coupon             10113549 non-null  float64
 10  Wac                10113549 non-null  float64
 11  Wam                10113549 non-null  float64
 12  Age                10113549 non-null  float64
 13  aols               10113549 non-null  float64
 14  waols              10113549 non-null  float64
 15  ONLoans            10113549 non-null  float64
 16  cnloans            10113549 non-null  float64
 17  CSato              10113549 non-null  float64
 18  oltv               10113549 non-null  float64
 19  cltv               10113549 non-null  float64
 20  fico               10113549 non-null  float64
 21  %CashWindow        10113549 non-null  float64
 22  %Majors            10113549 non-null  float64
 23  ocltv              10113549 non-null  float64
 24  ccltv              10113549 non-null  float64
 25  PurpPct_purchase   10113549 non-null  float64
 26  PurpPct_refi       10113549 non-null  float64
 27  PctChannel_Broker  10113520 non-null  float64
 28  PctChannel_Corr    10113520 non-null  float64
 29  PctChannel_Retail  10113520 non-null  float64
 30  OccPct_investor    10113549 non-null  float64
 31  OccPct_owner       10113549 non-null  float64
 32  PropUnitsPct_2-4   10113549 non-null  float64
 33  pool_issue_month   10113549 non-null  int64
 34  poolno_y           9878595 non-null   object
 35  StatePct_AK        9878595 non-null   float64
 36  StatePct_AL        9878595 non-null   float64
 37  StatePct_AR        9878595 non-null   float64
 38  StatePct_AZ        9878595 non-null   float64
 39  StatePct_CA        9878595 non-null   float64
 40  StatePct_CO        9878595 non-null   float64
 41  StatePct_CT        9878595 non-null   float64
 42  StatePct_DC        9878595 non-null   float64
 43  StatePct_DE        9878595 non-null   float64
 44  StatePct_FL        9878595 non-null   float64
 45  StatePct_GA        9878595 non-null   float64
 46  StatePct_GU        9878595 non-null   float64
 47  StatePct_HI        9878595 non-null   float64
 48  StatePct_IA        9878595 non-null   float64
 49  StatePct_ID        9878595 non-null   float64
 50  StatePct_IL        9878595 non-null   float64
 51  StatePct_IN        9878595 non-null   float64
 52  StatePct_KS        9878595 non-null   float64
 53  StatePct_KY        9878595 non-null   float64
 54  StatePct_LA        9878595 non-null   float64
 55  StatePct_MA        9878595 non-null   float64
 56  StatePct_MD        9878595 non-null   float64
 57  StatePct_ME        9878595 non-null   float64
 58  StatePct_MI        9878595 non-null   float64
 59  StatePct_MN        9878595 non-null   float64
 60  StatePct_MO        9878595 non-null   float64
 61  StatePct_MS        9878595 non-null   float64
 62  StatePct_MT        9878595 non-null   float64
 63  StatePct_NC        9878595 non-null   float64
 64  StatePct_ND        9878595 non-null   float64
 65  StatePct_NE        9878595 non-null   float64
 66  StatePct_NH        9878595 non-null   float64
 67  StatePct_NJ        9878595 non-null   float64
 68  StatePct_NM        9878595 non-null   float64
 69  StatePct_NV        9878595 non-null   float64
 70  StatePct_NY        9878595 non-null   float64
 71  StatePct_OH        9878595 non-null   float64
 72  StatePct_OK        9878595 non-null   float64
 73  StatePct_OR        9878595 non-null   float64
 74  StatePct_PA        9878595 non-null   float64
 75  StatePct_PR        9878595 non-null   float64
 76  StatePct_RI        9878595 non-null   float64
 77  StatePct_SC        9878595 non-null   float64
 78  StatePct_SD        9878595 non-null   float64
 79  StatePct_TN        9878595 non-null   float64
 80  StatePct_TX        9878595 non-null   float64
 81  StatePct_UT        9878595 non-null   float64
 82  StatePct_VA        9878595 non-null   float64
 83  StatePct_VI        9878595 non-null   float64
 84  StatePct_VT        9878595 non-null   float64
 85  StatePct_WA        9878595 non-null   float64
 86  StatePct_WI        9878595 non-null   float64
 87  StatePct_WV        9878595 non-null   float64
 88  StatePct_WY        9878595 non-null   float64
dtypes: float64(84), int64(2), object(3)
memory usage: 6.8+ GB

In [ ]:
dill.dump_session('notebook_env_all_3_dfs.db')